.kepdiv{
  display: flex;
  justify-content: space-evenly;
}
.cimdiv{
  display: flex;
  justify-content: space-evenly;
}
h2{
  width: 40%;
  text-align: center;
}
h1{
  text-align: center;
  padding: 20px;
}

body {
  background-image: url("gerje.jpg");
  background-size: cover;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
  background-repeat: no-repeat;
}
a{
  margin-top: 10px;
  width: 40%;
  height: 40%;
}
img {
  border-radius: 20px;
  width: 100%;
  border: 2px solid white;
  box-shadow: black 10px 10px 4px;
}
