body{
    background-image: url("kepek/hatter.jpg");
    background-repeat: repeat;

}

canvas{
    image-rendering: optimizeQuality;
}

#jatek{
    width: 900px; 
    height: 900px;
}
#minta{
    width: 450px; 
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
}
h1{
    width: fit-content;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5); 
    border: 5px solid #000; 
    border-radius: 10px;
    padding: 10px;
}
#nehezsegszintek{
    width: fit-content;
    margin: auto;
    margin-bottom: 10px !important;

}

#jatekter{
    display: flex;
    justify-content: space-evenly;
}

#lerakhato_elemek{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.alapkep{
    margin: 10px;
    border-radius: 5px;

    border: solid black 1px;
}
#resetGomb
{
    /* margin-left: 65%; */
    background-color: rgba(255, 255, 255, 0.5); 
    border: 5px solid #000; 
    border-radius: 10px;
    height: 60px;
    width: 150px;
    font-size: large;
    display: inline-block;
}
#pontozGomb{
    /* margin-left: 65%; */
    background-color: rgba(255, 255, 255, 0.5); 
    border: 5px solid #000; 
    border-radius: 10px;
    height: 60px;
    width: 150px;
    font-size: large;
    display: inline-block;

}
#start{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    border: 5px solid #000; 
    border-radius: 10px;
    height: 60px;
    width: 150px;
    font-size: large;
}
#timer{
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    border: 5px solid #000; 
    border-radius: 10px;
    height: 60px;
    width: 150px;
    font-size: large;
    margin: auto;
}

#stopper{
    text-align: center;
    vertical-align: middle;
}

select{
    background-color: rgba(255, 255, 255, 0.5); 
    border: 5px solid #000; 
    border-radius: 10px;
    height: 60px;
    width: 150px;
    font-size: large;
}

#lerakhato_elemek {
    margin: auto;
    width: fit-content;
    height: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    border: 5px solid #000; 
    border-radius: 10px;
}
#jatek_leiras{
    margin-top: 10px !important; 
    margin: auto;
    width: fit-content;
    height: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    border: 5px solid #000; 
    border-radius: 10px;
}

#leaderboard{
    margin-top: 10px !important; 
    margin: auto;
    width: fit-content;
    height: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    border: 5px solid #000; 
    border-radius: 10px;
}

.gombok{
    margin: auto;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: fit-content;
}