#profil_kep{
    width: 150px;
    height: 150px;
    float: right;
    margin-right: 1%;
}
h1{
    margin-left: 1%;
}
h2{
    margin-left: 1%;
}

#szem{
    margin-top: 0.5%;
}
#ad{
    margin-top: 4%;
}
#ka{
    margin-top: 4%;
}
#km{
    margin-top: 4%;
}
.ora{
    float: right;
    font-size: large;
    background-color: aqua;
}
#cim{
    text-align: center;
}
#button1{
  margin-left: 1%;
  font-size: large;
}
#button2{
  margin-left: 1%;
  font-size: large;
}
#button3{
  margin-left: 1%;
  font-size: large;
}
#button4{
  margin-left: 1%;
  font-size: large;
}
.full-text{
  font-size: large;
  margin-left: 1%;
}
#galeria{
  margin-top: 5%;

}
#kepek{
  margin-left: 1%;
}