#image-container {
  background-color: black;
  position: relative;
  width: 600px;
  height: 400px;
  margin: auto;
  box-shadow: 100px 0px 10px -5px greenyellow ,-100px 0px 10px -5px red,
  0px 10px rgb(255, 255, 255,0), 0px -10px rgb(255, 255, 255,0)
  ;
}
body{
  background: rgb(241,60,152);
  background: linear-gradient(90deg, rgba(241,60,152,1) 0%, rgba(227,194,22,1) 35%, rgba(227,194,22,1) 65%, rgba(228,8,8,1) 100%);
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s ease; /* Use opacity for smooth transitions */
}

#image1 {
  opacity: 1; /* Show the first image initially */
}

h1{
  display: flex;
  justify-content: center;
}
#tartalom{
  background-color: rgba(253, 253, 253, 0.24);
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 40%;
  margin: auto;
  padding: 20px;
}
#tartalom>div{
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}
.leiras{
  font-size: larger;
  font-weight: bold;
}
.nev{
  font-weight: bolder;
  font-size: xx-large;
}
.belepes_bt{
  width: 150px;
  height: 100px;
  background-color: #9fff94;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
  font-weight: bolder;
  font-size: xx-large;
}
.belepes_leir{
  margin-top: 5%;
  width: 500px;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: larger;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(253, 253, 253, 0.24);
}
.belepes_div{
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
}
header{
  border-bottom: 2px solid black;
  background-color: rgba(253, 253, 253, 0.24);
}
.film{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap ;
  font-size: larger;
  font-weight: bold;
  width: fit-content;
  margin: auto;
}
.film_kep{
  position: relative;
  width: 400px;
  height: 500px;
  margin-top: 15px;
}
.cim{
  background-color: rgba(253, 253, 253, 0.24);
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: fit-content;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.kerdes{
  position: absolute;
  height: 45px;
  width: 44.69px;
  right: 0;
  bottom: 0;
  transition: display 0.4s ease;
}